<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>紫微</key><string>ziwei1</string>
        <key>天機</key><string>ziwei2</string>
        <key>太陽</key><string>ziwei3</string>
        <key>武曲</key><string>ziwei4</string>
        <key>天同</key><string>ziwei5</string>
        <key>廉貞</key><string>ziwei6</string>
        <key>天府</key><string>ziwei7</string>
        <key>太陰</key><string>ziwei8</string>
        <key>貪狼</key><string>ziwei9</string>
        <key>巨門</key><string>ziwei10</string>
        <key>天相</key><string>ziwei11</string>
        <key>天梁</key><string>ziwei12</string>
        <key>七殺</key><string>ziwei13</string>
        <key>破軍</key><string>ziwei14</string>
        <key>紫微天府</key><string>ziwei15</string>
        <key>紫微貪狼</key><string>ziwei16</string>
        <key>紫微天相</key><string>ziwei17</string>
        <key>紫微七殺</key><string>ziwei18</string>
        <key>紫微破軍</key><string>ziwei19</string>
        <key>天機太陰</key><string>ziwei20</string>
        <key>天機巨門</key><string>ziwei21</string>
        <key>天機天梁</key><string>ziwei22</string>
        <key>太陽太陰</key><string>ziwei23</string>
        <key>太陽巨門</key><string>ziwei24</string>
        <key>太陽天梁</key><string>ziwei25</string>
        <key>武曲天府</key><string>ziwei26</string>
        <key>武曲貪狼</key><string>ziwei27</string>
        <key>武曲天相</key><string>ziwei28</string>
        <key>武曲七殺</key><string>ziwei29</string>
        <key>武曲破軍</key><string>ziwei30</string>
        <key>天同太陰</key><string>ziwei31</string>
        <key>天同巨門</key><string>ziwei32</string>
        <key>天同天梁</key><string>ziwei33</string>
        <key>廉貞天府</key><string>ziwei34</string>
        <key>廉貞貪狼</key><string>ziwei35</string>
        <key>廉貞天相</key><string>ziwei36</string>
        <key>廉貞七殺</key><string>ziwei37</string>
        <key>廉貞破軍</key><string>ziwei38</string>



        <key>雞</key><string>chinese1</string>
        <key>猴</key><string>chinese2</string>
        <key>羊</key><string>chinese3</string>
        <key>豬</key><string>chinese4</string>
        <key>龍</key><string>chinese5</string>
        <key>蛇</key><string>chinese6</string>
        <key>虎</key><string>chinese7</string>
        <key>馬</key><string>chinese8</string>
        <key>兔</key><string>chinese9</string>
        <key>牛</key><string>chinese10</string>
        <key>鼠</key><string>chinese11</string>
        <key>狗</key><string>chinese12</string>


        <key>亥</key><string>eightword1</string>
        <key>戌</key><string>eightword2</string>
        <key>酉</key><string>eightword3</string>
        <key>申</key><string>eightword4</string>
        <key>未</key><string>eightword5</string>
        <key>午</key><string>eightword6</string>
        <key>巳</key><string>eightword7</string>
        <key>辰</key><string>eightword8</string>
        <key>卯</key><string>eightword9</string>
        <key>寅</key><string>eightword10</string>
        <key>子</key><string>eightword11</string>
        <key>丑</key><string>eightword12</string>


        <key>天秤座</key><string>horoscope1</string>
        <key>白羊座</key><string>horoscope2</string>
        <key>雙魚座</key><string>horoscope3</string>
        <key>摩羯座</key><string>horoscope4</string>
        <key>水瓶座</key><string>horoscope5</string>
        <key>巨蟹座</key><string>horoscope6</string>
        <key>獅子座</key><string>horoscope7</string>
        <key>天蠍座</key><string>horoscope8</string>
        <key>射手座</key><string>horoscope9</string>
        <key>雙子座</key><string>horoscope10</string>
        <key>處女座</key><string>horoscope11</string>
        <key>金牛座</key><string>horoscope12</string>


        <key>1</key><string>life1</string>
        <key>2</key><string>life2</string>
        <key>3</key><string>life3</string>
        <key>4</key><string>life4</string>
        <key>5</key><string>life5</string>
        <key>6</key><string>life6</string>
        <key>7</key><string>life7</string>
        <key>8</key><string>life8</string>
        <key>9</key><string>life9</string>



        <key>https://docs.foreseers.com/lifebook/a1.png</key><string>a1_1</string>
        <key>https://docs.foreseers.com/lifebook/a2.png</key><string>a2_1</string>
        <key>https://docs.foreseers.com/lifebook/a3.png</key><string>a3_1</string>

        <key>https://docs.foreseers.com/lifebook/a1.jpg</key><string>a1</string>
        <key>https://docs.foreseers.com/lifebook/a2.jpg</key><string>a2</string>
        <key>https://docs.foreseers.com/lifebook/a3.jpg</key><string>a3</string>
        <key>https://docs.foreseers.com/lifebook/a4.jpg</key><string>a4</string>
        <key>https://docs.foreseers.com/lifebook/a5.jpg</key><string>a5</string>
        <key>https://docs.foreseers.com/lifebook/a6.jpg</key><string>a6</string>
        <key>https://docs.foreseers.com/lifebook/a7.jpg</key><string>a7</string>
        <key>https://docs.foreseers.com/lifebook/a8.jpg</key><string>a8</string>
        <key>https://docs.foreseers.com/lifebook/a9.jpg</key><string>a9</string>
        <key>https://docs.foreseers.com/lifebook/a10.jpg</key><string>a10</string>
        <key>https://docs.foreseers.com/lifebook/a11.jpg</key><string>a11</string>
        <key>https://docs.foreseers.com/lifebook/b1.jpg</key><string>b1</string>
        <key>https://docs.foreseers.com/lifebook/b2.jpg</key><string>b2</string>
        <key>https://docs.foreseers.com/lifebook/b3.jpg</key><string>b3</string>
        <key>https://docs.foreseers.com/lifebook/b4.jpg</key><string>b4</string>
        <key>https://docs.foreseers.com/lifebook/b5.jpg</key><string>b5</string>
        <key>https://docs.foreseers.com/lifebook/b6.jpg</key><string>b6</string>
        <key>https://docs.foreseers.com/lifebook/b7.jpg</key><string>b7</string>
        <key>https://docs.foreseers.com/lifebook/b8.jpg</key><string>b8</string>
        <key>https://docs.foreseers.com/lifebook/b9.jpg</key><string>b9</string>
        <key>https://docs.foreseers.com/lifebook/b10.jpg</key><string>b10</string>
        <key>https://docs.foreseers.com/lifebook/c1.jpg</key><string>c1</string>
        <key>https://docs.foreseers.com/lifebook/c2.jpg</key><string>c2</string>
        <key>https://docs.foreseers.com/lifebook/c3.jpg</key><string>c3</string>
        <key>https://docs.foreseers.com/lifebook/c4.jpg</key><string>c4</string>
        <key>https://docs.foreseers.com/lifebook/c5.jpg</key><string>c5</string>
        <key>https://docs.foreseers.com/lifebook/c6.jpg</key><string>c6</string>
        <key>https://docs.foreseers.com/lifebook/c7.jpg</key><string>c7</string>
        <key>https://docs.foreseers.com/lifebook/c8.jpg</key><string>c8</string>
        <key>https://docs.foreseers.com/lifebook/c9.jpg</key><string>c9</string>
        <key>https://docs.foreseers.com/lifebook/c10.jpg</key><string>c10</string>
        <key>https://docs.foreseers.com/lifebook/c11.jpg</key><string>c11</string>
        <key>https://docs.foreseers.com/lifebook/c12.jpg</key><string>c12</string>
        <key>https://docs.foreseers.com/lifebook/c13.jpg</key><string>c13</string>
        <key>https://docs.foreseers.com/lifebook/d1.jpg</key><string>d1</string>
        <key>https://docs.foreseers.com/lifebook/d2.jpg</key><string>d2</string>
        <key>https://docs.foreseers.com/lifebook/d3.jpg</key><string>d3</string>
        <key>https://docs.foreseers.com/lifebook/d4.jpg</key><string>d4</string>
        <key>https://docs.foreseers.com/lifebook/d5.jpg</key><string>d5</string>
        <key>https://docs.foreseers.com/lifebook/d6.jpg</key><string>d6</string>
        <key>https://docs.foreseers.com/lifebook/d7.jpg</key><string>d7</string>
        <key>https://docs.foreseers.com/lifebook/d8.jpg</key><string>d8</string>
        <key>https://docs.foreseers.com/lifebook/e1.jpg</key><string>e1</string>
        <key>https://docs.foreseers.com/lifebook/e2.jpg</key><string>e2</string>
        <key>https://docs.foreseers.com/lifebook/e3.jpg</key><string>e3</string>
        <key>https://docs.foreseers.com/lifebook/e4.jpg</key><string>e4</string>
        <key>https://docs.foreseers.com/lifebook/e5.jpg</key><string>e5</string>
        <key>https://docs.foreseers.com/lifebook/e6.jpg</key><string>e6</string>
        <key>https://docs.foreseers.com/lifebook/e7.jpg</key><string>e7</string>
        <key>https://docs.foreseers.com/lifebook/e8.jpg</key><string>e8</string>
        <key>https://docs.foreseers.com/lifebook/f1.jpg</key><string>f1</string>
        <key>https://docs.foreseers.com/lifebook/f2.jpg</key><string>f2</string>
        <key>https://docs.foreseers.com/lifebook/f3.jpg</key><string>f3</string>
        <key>https://docs.foreseers.com/lifebook/f4.jpg</key><string>f4</string>
        <key>https://docs.foreseers.com/lifebook/f5.jpg</key><string>f5</string>
        <key>https://docs.foreseers.com/lifebook/f6.jpg</key><string>f6</string>
        <key>https://docs.foreseers.com/lifebook/f7.jpg</key><string>f7</string>
        <key>https://docs.foreseers.com/lifebook/f8.jpg</key><string>f8</string>
        <key>https://docs.foreseers.com/lifebook/f9.jpg</key><string>f9</string>
        <key>https://docs.foreseers.com/lifebook/f10.jpg</key><string>f10</string>
        <key>https://docs.foreseers.com/lifebook/f11.jpg</key><string>f11</string>
        <key>https://docs.foreseers.com/lifebook/f12.jpg</key><string>f12</string>
        <key>https://docs.foreseers.com/lifebook/g1.jpg</key><string>g1</string>
        <key>https://docs.foreseers.com/lifebook/g2.jpg</key><string>g2</string>
        <key>https://docs.foreseers.com/lifebook/g3.jpg</key><string>g3</string>
        <key>https://docs.foreseers.com/lifebook/g4.jpg</key><string>g4</string>
        <key>https://docs.foreseers.com/lifebook/g5.jpg</key><string>g5</string>
        <key>https://docs.foreseers.com/lifebook/g6.jpg</key><string>g6</string>
        <key>https://docs.foreseers.com/lifebook/g7.jpg</key><string>g7</string>
        <key>https://docs.foreseers.com/lifebook/g8.jpg</key><string>g8</string>
        <key>https://docs.foreseers.com/lifebook/g9.jpg</key><string>g9</string>
        <key>https://docs.foreseers.com/lifebook/g10.jpg</key><string>g10</string>
        <key>https://docs.foreseers.com/lifebook/g11.jpg</key><string>g11</string>
        <key>https://docs.foreseers.com/lifebook/g12.jpg</key><string>g12</string>

        <key>https://docs.foreseers.com/lifebook/fortune2019.jpg</key><string>fortune2019</string>
        <key>https://docs.foreseers.com/lifebook/shiba.jpg</key><string>shiba</string>



    </dict>
</plist>
