<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foreseers.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dating_app_logo_512"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dating_app_logo_512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".service.AlarmReceiver" />

        <service android:name=".service.MediaService" />
        <service android:name=".service.HeadTimeService" />
        <service android:name=".service.ImgsTimeService" />
        <service android:name=".service.AlbumTimeService" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1106190114019314#foreseers" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
        </receiver>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UserDataActivity" />
        <activity android:name=".activity.LoadHoroscopeActivity" />
        <activity android:name=".activity.UserDetailsActivity" />
        <!-- <activity android:name=".dialog.AddFriendDialog" /> -->
        <activity android:name=".activity.RemarkActivity" />
        <activity android:name=".activity.UserAnalyzeLifeBookActivity" />
        <activity android:name=".activity.LifeBookActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:windowSoftInputMode="adjustUnspecified" />
        <!-- android:windowSoftInputMode="stateVisible|adjustResize" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.foreseers.chat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.foreseers.chat.fileprovider2" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths_private" /> -->
        <!-- </provider> -->
        <activity android:name=".activity.ChangeUserDataActivity" />
        <activity android:name=".activity.NewFriendsMsgActivity" />
        <activity android:name=".activity.MyVipActivity" />
        <activity
            android:name=".activity.ImgAlbumActivity"
            android:theme="@style/SecondActivityTheme" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.WipeHistoryActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".activity.WipeDayHistoryActivity" />
        <activity android:name=".activity.BlackListActivity" />
        <activity android:name=".activity.OpinionActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ClauseActivity"></activity>


        <!-- FCM required start -->
        <service android:name=".fcm.EMFCMMSGService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.EMFCMTokenRefreshService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- FCM required end -->

    </application>

</manifest>